.become {
	padding: 35px 0 108px;
	// .become__body

	&__body {
		display: flex;
		position: relative;
	}

	// .become__column

	&__column {
		min-height: 458px;


		&:first-child {
			position: absolute;
			width: calc(100% + 30px);
			height: 100%;
			margin-left: -15px;
			z-index: -1;
		}

		&:last-child{
			flex: 0 0 calc(100% + 30px);
			margin: 0 -15px;
			padding: 20px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		@media (min-width: 576px){
			&:first-child{
				position: static;
				width: 100%;
				height: auto;
			}

			&:last-child{
				width: 100%;
				flex: 0 0 calc(60% + 15px);
				padding: 0 15px 0 20px;
				margin: 0;
			}
		}

		@media (min-width: 768px){
			flex: 0 0 calc(40% + 15px);
			&:last-child{
				padding: 0 0 0 35px;
			}
		}

		@media (min-width: 992px){
			&:first-child,
			&:last-child{
				flex: 0 0 50%;
				margin: 0;
			}
		}
	}

	// .become__img-wrapper

	&__img-wrapper {
		position: relative;
		height: 100%;
	}

	// .become__img

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	// .become__heading

	&__heading {
		 text-shadow: 0 0 1px rgba(#000, .6);

		 @media (min-width: 576px) {
		 	text-shadow: none;
		 }
	}

	// .become__title

	&__title {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
		font-size: 60px;

		@media (min-width: 576px){
			font-size: 70px;
		}

		@media (min-width: 768px){
			font-size: 85px;
		}

		@media (min-width: 1200px){
			font-size: 102px;
		}
	}
}
