.header {
	background-color: #fff;
	border-bottom: 1px solid #ededed;
	padding: 15px 0;
	position: relative;

	@media (min-width: 768px){
		padding: 30px 0 25px;
	}

	&__body {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	// .header__logo

	&__logo {
		margin-bottom: 15px;

		@media (min-width: 768px){
			margin-bottom: 25px;
		}
	}

	// .header__burger-menu

	&__burger-menu {
		margin-left: auto;
		position: relative;
		z-index: 6;

		@media (min-width: 768px){
			display: none;
		}
	}
	// .header__menu

	&__menu {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		background-color: #fff;
		z-index: 5;
		border-bottom: 1px solid #ededed;
		overflow: hidden;
		transition: all .7s;
		transform: translateY(100%);

		@media (min-width: 768px){
			position: static;
			width: auto;
			border-bottom: none;
			transform: translateY(0);
		}
	}
}

ul.menu__list{
	padding: 0 15px 15px;

	@media (min-width: 768px){
		padding: 0;
	}
}

.menu {


	// .menu__list

	&__list {
		display: flex;
		flex-direction: column;

		@media (min-width: 768px){
			flex-direction: row;
		}
	}

	// .menu__item

	&__item {
		&+&{
			margin-left: 0;
			margin-top: 10px;

			@media (min-width: 768px){
				margin-left: 65px;
				margin-top: 0;
			}
		}
	}

	// .menu__item-link

	&__item-link {
		color: #23242C;
		font-size: 16px;
		line-height: 2;
		text-decoration: none;
	}
}

