.hero {
	padding-top: 70px;

	@media (min-width: 768px){
		padding-top: 113px;
	}
	// .hero__body

	&__body {
		max-width: calc(100% + 30px);
		padding: 0 0 70px 15px;
		margin: 0 -15px;
		background: url(../images/hero/hero_bg.png) no-repeat right 25px;
		min-height: 601px;

		@media (min-width: 576px){
			max-width: calc(100% + 15px);
			margin: 0 0 -15px 0;
			padding: 0 0 113px 0;
		}

		@media (min-width: 1200px){
			max-width: 92.5%;
			margin: 0;
		}
	}

	// .hero__content

	&__content {
		padding: 88px 0 45px;
	}

	// .hero__heading

	&__heading {}

	// .hero__title

	&__title {
		max-width: 680px;
		margin-bottom: 35px;
	}

	// .hero__btn

	&__btn {}
}
