.info-list {
	padding: 50px 0;

	@media (min-width: 576px){
		padding: 50px 0 100px;
	}

	@media (min-width: 768px){
		padding: 100px 0 160px;
	}
	// .info-list__list

	&__list {}
}

.list {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	@media (min-width: 576px){
		flex-direction: row;
	}
	// .list__item

	&__item {
		max-width: 100%;
		&+&{
			margin: 15px 0 0;

			@media (min-width: 576px){
				margin: 0 0 0 15px;
			}
		}
		
		@media (min-width: 576px){
			max-width: 300px;
		}
	}

	// .list__item-heading

	&__item-heading {
		@extend %playfair-italic;
		font-size: 28px;
		line-height: 1.35em;
		padding-left: 24px;
		position: relative;
		margin-bottom: 15px;
		&::before{
			content: "";
			display: inline-block;
			width: 9px;
			height: 9px;
			background: url(../images/icons/dots_decoration.svg) no-repeat 0 0;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		@media (min-width: 768px){
			font-size: 38px;
		}

		@media (min-width: 576px){
			margin-bottom: 29px;
		}
	}

	// .list__item-text

	&__item-text {
		color: #9d8888;
		font-size: 14px;
		line-height: 1.65em;
		padding-left: 15px;
		@media (min-width: 992px){
			padding-left: 62px;
		}
	
		@media (min-width: 768px){
			padding-left: 30px;
			font-size: 16px;
		}
	}
}
