.range {
	text-align: center;
	// .range__heading

	&__heading {}

	// .range__title

	&__title {
		margin-bottom: 128px;
		@media (max-width: 768px){
			margin-bottom: 100px;
		}
	}

	// .range__content

	&__content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		gap: 0 30px;
		@media (max-width: 992px){
			max-width: calc(100% + 30px);
			margin: 0 -15px;
		}
		@media (max-width: 575px){
			grid-template-columns: 1fr;
			gap: 50px;
			margin-bottom: 50px;
		}
	}

	// .range__item

	&__item {
		&:nth-child(2n){
			justify-self: end;
			margin-top: 83px;
			@media (max-width: 575px){
				justify-self: stretch;
				margin-top: 0;
			}
		}
	}

	// .range__footer

	&__footer {
		@extend %playfair-bold;
		font-size: 37px;
		padding: 40px 0 32px;
		position: relative;
		&::before{
			content: "More";
			color: rgba($color: #23242C, $alpha: .04);
			display: inline-flex;
			align-items: center;
			font-size: 183px;
			line-height: 1;
			position: absolute;
			top: 35%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}

		@media (max-width: 768px){
			font-size: 30px;
			&::before{
				font-size: 150px;
			}
		}
		@media (max-width: 575px){
			&::before{
				font-size: 125px;
			}
		}
	}

	// .range__footer-heading-wrapper

	&__footer-heading-wrapper {
		position: relative;
		&::before,
		&::after {
			content: "";
			display: block;
			width: 37%;
			height: 1px;
			background-color: rgba($color: #967675, $alpha: .6);
			position: absolute;
			top: 50%;
		}

		&::before {
			// left: -205.5%;
			left: 2%;
		}

		&::after {
			right: 2%;
		}
	}

	// .range__footer-heading

	&__footer-heading {
		color: #23242C;
		// display: inline-block;
		text-decoration: none;
	}

	// .range__footer-heading-decor

	&__footer-heading-decor {
		font-weight: 400;
	}

}

.range-item {
	background-color: #f6ece8;
	max-width: 511px;
	color: #967675;
	padding-bottom: 40px;
	align-self: start;
	@media (max-width: 575px){
		max-width: calc(100% + 30px);
	}

	// .range-item__img-wrapper

	&__img-wrapper {
		// position: relative;
		// width: 100%;
		// padding-bottom: 87.27%;
		// overflow: hidden
		margin-bottom: 18px;

		@media (max-width: 575px){
			position: relative;
			width: 100%;
			padding-bottom: 87.27%;
		}
	}

	// .range-item__img

	&__img {
		// position: absolute;
		// width: 100%;
		// height: 100%;
		// top: 0;
		// left: 0;
		// object-fit: cover;
		@media (max-width: 575px){
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}

	// .range-item__title

	&__title {
		@extend %playfair-italic;
		font-size: 48px;
		line-height: 1.3;
		margin-top: 1px;
		padding: 0 10px;
	}

	// .range-item__text

	&__text {
		max-width: 380px;
		margin: 0 auto;
		font-size: 16px;
		line-height: 1.65;
		padding: 0 10px;
	}
}
